<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ProfessoftCurierPostsService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ProfessoftCurierPostsService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <applicationSettings>
        <ProfessoftCurierPostsService.Properties.Settings>
            <setting name="SQLServername" serializeAs="String">
                <value>DT-05\MSSQL2014</value>
            </setting>
            <setting name="SQLDatabase" serializeAs="String">
                <value>CDN_Dotykacka</value>
            </setting>
            <setting name="SQLUsername" serializeAs="String">
                <value>Lukasz</value>
            </setting>
            <setting name="SQLPassword" serializeAs="String">
                <value>qwerty0</value>
            </setting>
            <setting name="SQLKey" serializeAs="String">
                <value />
            </setting>
            <setting name="SQLNT" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OptimaUsername" serializeAs="String">
                <value>PROADMIN</value>
            </setting>
            <setting name="OptimaPassword" serializeAs="String">
                <value>Profes45</value>
            </setting>
            <setting name="OptimaCompany" serializeAs="String">
                <value>Dotykačka Polska sp.z o.o.</value>
            </setting>
            <setting name="OptimaPath" serializeAs="String">
                <value>C:\Program Files (x86)\Comarch ERP Optima</value>
            </setting>
            <setting name="LogFilePath" serializeAs="String">
                <value>C:\temp</value>
            </setting>
        </ProfessoftCurierPostsService.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <ProfessoftCurierPostsService.Properties.Settings>
            <setting name="Ustawienie" serializeAs="String">
                <value />
            </setting>
        </ProfessoftCurierPostsService.Properties.Settings>
    </userSettings>
</configuration>