<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ProfessoftCurierPostsService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <runtime>
    <assemblyBinding>
      <dependentAssembly>
        <assemblyIdentity name="ADODB"
          publicKeyToken="b03f5f7f11d50a3a"
          culture="neutral" />
        <bindingRedirect oldVersion="7.0.3300.0" newVersion="7.10.3300.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <applicationSettings>
    <ProfessoftCurierPostsService.Properties.Settings>
      <setting name="SQLServerName" serializeAs="String">
        <value>DT-05\MSSQL2014</value>
      </setting>
      <setting name="SQLDatabase" serializeAs="String">
        <value>CDN_Dotykacka</value>
      </setting>
      <setting name="SQLUsername" serializeAs="String">
        <value>Lukasz</value>
      </setting>
      <setting name="SQLPassword" serializeAs="String">
        <value>qwerty0</value>
      </setting>
      <setting name="SQLNT" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="OptimaUsername" serializeAs="String">
        <value>PROADMIN</value>
      </setting>
      <setting name="OptimaPassword" serializeAs="String">
        <value>Profes45</value>
      </setting>
      <setting name="OptimaCompany" serializeAs="String">
        <value>Dotykačka Polska sp.z o.o.</value>
      </setting>
      <setting name="OptimaPath" serializeAs="String">
        <value>C:\Program Files (x86)\Comarch ERP Optima</value>
      </setting>
      <setting name="LogFilePath" serializeAs="String">
        <value>C:\temp\ProCurierPostLog.log</value>
      </setting>
      <setting name="DPDFindPackageUrl" serializeAs="String">
        <value>https://tracktrace.dpd.com.pl/findPackage</value>
      </setting>
      <setting name="AtributeName" serializeAs="String">
        <value>DATADOSTAWY</value>
      </setting>
      <setting name="DescriptionPrefix" serializeAs="String">
        <value>DPD</value>
      </setting>
      <setting name="LogEventName" serializeAs="String">
        <value>ProfessoftServicesLog</value>
      </setting>
      <setting name="SourceEventName" serializeAs="String">
        <value>ProCurierPosts</value>
      </setting>
      <setting name="RefreshTimeInMin" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="FirstRunImmediately" serializeAs="String">
        <value>True</value>
      </setting>
    </ProfessoftCurierPostsService.Properties.Settings>
  </applicationSettings>
</configuration>